<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ba736b49-9236-4ca3-98a0-a7dda4d2c9fa/resourceGroups/AutomatedTellerMachine20181005071843ResourceGroup/providers/Microsoft.Web/sites/mvcbankghouzlane</ResourceId>
    <ResourceGroup>AutomatedTellerMachine20181005071843ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mvcbankghouzlane.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>mvcbankghouzlane.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mvcbankghouzlane</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mvcbankghouzlane</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mvcbankserver.database.windows.net,1433;Initial Catalog=mvcbankdb;Persist Security Info=False;User ID=ahmedghouzlane;Password=Gh0uzlane!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:mvcbankserver.database.windows.net,1433;Initial Catalog=mvcbankdb;Persist Security Info=False;User ID=ahmedghouzlane;Password=Gh0uzlane!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AutomatedTellerMachine.Models.ApplicationDbContext, AutomatedTellerMachine" MigrationConfiguration="AutomatedTellerMachine.Migrations.Configuration, AutomatedTellerMachine" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:mvcbankserver.database.windows.net,1433;Initial Catalog=mvcbankdb;Persist Security Info=False;User ID=ahmedghouzlane;Password=Gh0uzlane!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>