@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong><a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>



@*Partial page updates using Microsoft jQuery inobstrusive Ajax*@
@*<div id="formSection">
        <h3>@ViewBag.TheMessage</h3>
        @using (Ajax.BeginForm(new AjaxOptions
        {
            HttpMethod = "post",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "formSection"
        }))
        {
            <textarea name="message"></textarea>
            <input type="submit" value="Send" />
        }
    </div>*@

<div id="formSection">
    <h3>@ViewBag.TheMessage</h3>

    <div class="row">
        <div class="col-md-2">
            <form method="post" id="contactForm">
                <textarea name="message" id="message" maxlength="150" data-bind="value:message, valueUpdate:'input'"></textarea>
                <input type="submit" value="Send" />

            </form>
            <span data-bind="text:charactersRemaining"></span> characters remaining.
        </div>
        <div class="col-md-2">
            <img src="~/Content/Images/giphy2.gif" id="progress" style="display:none;" width="60" />
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/knockout-3.4.2.js"></script>

    <script>
        function ContactViewModel()
        {
            var self = this;
            self.message = ko.observable('');
            self.charactersRemaining = ko.computed(function () {
                return 150 - self.message().length;
            });
        }
        ko.applyBindings(new ContactViewModel());
    </script>

    <script>
        $('#contactForm').submit(function () {
            $('#progress').show();
            $.post('', { message: $('#message').val() })
                .done(function (response) {
                    setTimeout(function () { $('#formSection').html(response); }, 2000);
                });
            return false;
        });
    </script>
}










